{% extends 'base.html' %}

{% block content %}

  <h1 class="text-center my-4">CART</h1>  

    <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
			
			{% for i in range(number) %}
			
			<tr>
            <th scope="row">{{i+1}}</th>
            <td>{{products[i]['label']}}</th>
            <td>{{products[i]['price']}}</th>
            {%if products[i]['label'] == 'Lemon'%}
            <td>{{products[i]['quantity']}} Kg</th>
            {%else%}
            <td>{{products[i]['quantity']}} Nos</th>
            {%endif%}
            <td>{{products[i]['amount payable']}}</th>
          </tr>
			
			{% endfor %}
          
          
        </tbody>
      </table>
      
     

      <div class="text-center">
		  <a href="http://127.0.0.1:5000/payment">
			<button class="btn btn-info btn-lg px-4 text-center">CHECKOUT Rs.{{total_price}}</button>
		  </a>
      </div>
      
      <h5 class="text-center mt-4">payment QR code will be visible for 10 seconds</h5>

	
     {% endblock %}
