{% extends 'base.html' %}

{% block content %}

<script
    type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
  ></script>
  <script
    src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"
  ></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  

	<div id="qrpage">
    <div class="my-7">
    <h1 class="text-center">Scan the QR code below to pay</h1>
    </div>

    <div class="text-center">
		<img src="{{image}}" alt="unable to load qrcode">
    </div>
    </div>
    
    
    

	<div id="success" style="display:none;">
        <lottie-player class="mx-auto" src="https://assets7.lottiefiles.com/private_files/lf30_poez9ped.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;" autoplay></lottie-player>
          </div>
    
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
	<script>
		
		window.onload = () => {
			setInterval(()=>{
				$('#qrpage').css("display", "none")
				setInterval(() =>{
					$('#success').css("display", "grid")},1000)
				setInterval(() => {
					window.open('http://127.0.0.1:5000/', '_self')},4000)
			},10000)
			
			}
		
		
	</script>

{% endblock %}
